<h1>Unauthorized</h1>
<a href="/jobs" class="button" style="background-image: linear-gradient(red, white); border-radius: 6px; padding: 10px 20px; display: inline-block; color: #000000; border: solid; box-shadow: 2px 2px;">Go Back</a>
